In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Titanic Train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [5]:
df['Embarked'].nunique()

3

# OHE using pandas

In [6]:
pd.get_dummies(df,columns=['Sex','Embarked'])

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,False,True,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,True,False,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,True,False,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,True,False,False,False,True
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,False,True,False,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,True,False,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,True,False,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,False,True,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,False,True,False,True,False

# k-1 OHE

In [23]:
## we remove one column from total no. of column on which we apply OHE to avoid multicollinearity

In [8]:
pd.get_dummies(df,columns=['Sex','Embarked'],drop_first= True)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,True,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,False,False,False
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,True,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,False,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,False,False,True
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,True,False,False
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,True,True,False

In [9]:
## 2 column are removed

# OHE using sklearn

In [10]:
## for sklearn our first step is to split train test split

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test = train_test_split(df.iloc[:,11],test_size=0.2,random_state=0)

In [15]:
X_train

140    C
439    S
817    C
378    C
491    S
      ..
835    C
192    S
629    Q
559    S
684    S
Name: Embarked, Length: 712, dtype: object

In [16]:
X_test

495    C
648    S
278    Q
31     C
255    C
      ..
780    C
837    S
215    C
833    S
372    S
Name: Embarked, Length: 179, dtype: object

In [17]:
X_test.head()

495    C
648    S
278    Q
31     C
255    C
Name: Embarked, dtype: object

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
ohe= OneHotEncoder()

In [22]:
ohe.fit_transform(X_train).toarray()

ValueError: Expected 2D array, got 1D array instead:
array=['C' 'S' 'C' 'C' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'C' 'Q' 'Q' 'C' 'S'
 'S' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'C' 'S' 'S' 'Q' 'S' 'S' 'C' 'S' 'C' 'S'
 'S' 'C' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'C' 'Q' 'S' 'S' 'S' 'S'
 'S' 'C' 'S' 'S' 'S' 'Q' 'S' 'S' 'Q' 'S' 'C' 'C' 'S' 'Q' 'C' 'S' 'C' 'S'
 'C' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'Q' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'C'
 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C'
 'Q' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'Q' 'C'
 'S' 'S' 'Q' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'C' 'S' 'C' 'S' 'S'
 'C' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'Q' 'S' 'Q' 'S' 'S' 'C'
 'S' 'S' 'S' 'Q' 'S' 'Q' 'S' 'S' 'S' 'C' 'S' 'Q' 'S' 'Q' 'C' 'Q' 'S' 'C'
 'S' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'C' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'C' 'S' 'S' 'C' 'C' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'Q'
 'S' 'C' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'Q' 'S' 'C' 'S' 'S' 'S' 'S' 'C' 'S'
 'C' 'S' 'S' 'S' 'Q' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S'
 'C' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'Q' 'S'
 'C' 'S' 'S' 'Q' 'S' 'S' 'S' 'C' 'Q' 'S' 'S' 'S' 'C' 'Q' 'S' 'Q' 'S' 'C'
 'S' 'Q' 'C' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'Q' 'S' 'S' 'S' 'C' 'C' 'S' 'S'
 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'C' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'Q' 'S'
 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S'
 'Q' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'C' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'C' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S'
 'S' 'Q' 'S' nan 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'C' 'S' 'S' 'S' 'S' 'S'
 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S'
 'C' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'Q' 'Q' 'C' 'C' 'S' 'Q' 'S' 'C' 'S' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'Q'
 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S'
 'S' 'S' 'S' 'Q' 'S' 'S' nan 'S' 'Q' 'S' 'C' 'S' 'C' 'S' 'C' 'S' 'S' 'S'
 'Q' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'C' 'S' 'C' 'S'
 'S' 'S' 'Q' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'Q'
 'C' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'C' 'Q' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S'
 'S' 'Q' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'C' 'S' 'Q' 'S' 'C' 'S' 'S'
 'C' 'S' 'C' 'C' 'S' 'Q' 'S' 'Q' 'Q' 'S' 'S' 'C' 'S' 'S' 'C' 'S' 'Q' 'S'
 'S' 'S' 'S' 'C' 'S' 'C' 'C' 'S' 'S' 'C' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'S'
 'C' 'S' 'C' 'C' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S'
 'S' 'C' 'Q' 'S' 'S' 'C' 'S' 'Q' 'S' 'S'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.